<div class="margin-container">

  <h1>Edit Task</h1>

  <%= simple_form_for(@task) do |f| %>

    <%= f.input :description %>

    <%= f.input :category,
      collection: %w(work health errands relationships finance)
    %>

    <%= f.input :frequency,
      collection: %w(daily weekly monthly yearly)
    %>

    <%= f.input :points,  input_html: { value: 0 } %>

    <%= f.input :start_date, as: :date, html5: true  %>

    <div class="form-actions" >
      <%= submit_tag "Update task", class: "button-main", data: {turbo: false} %>
    </div>
  <% end %>

</div>
